@using ContactControl.Enums;
@model UsuarioModel
@{
    ViewData["Title"] = "Edição de Usuário";
}
<div class="text-center">
    <h1 class="display-4">Editar usuário</h1>
</div>

<form asp-controller="Usuario" asp-action="Alterar" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="mb-3 form-group">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" asp-for="Nome" class="form-control" placeholder="Digite o novo nome do usuário.">
        @Html.ValidationMessageFor(x=>x.Nome)
    </div>
    <div class="mb-3 form-group">
        <label for="email" class="form-label">E-mail</label>
        <input type="email" asp-for="Email" class="form-control" placeholder="Digite o novo e-mail.">
        @Html.ValidationMessageFor(x=>x.Email)
    </div>
    <div class="mb-3 form-group">
        <label for="login" class="form-label">Login</label>
        <input type="text" asp-for="Login" class="form-control" placeholder="Digite o novo login do usuário.">
        @Html.ValidationMessageFor(x=>x.Login)
    </div>
    
    <div class="mb-3 form-group">
        <label for="perfil" class="form-label">Perfil</label>
        <select class="form-control" asp-for="Perfil">
            <option value="">Selecione</option>
            <option value="@PerfilEnum.Admin">Administrador</option>
            <option value="@PerfilEnum.Padrao">Padrão</option>
        </select>
        @Html.ValidationMessageFor(x=>x.Perfil)
    </div>
    <button type="submit" class="btn btn-primary">Alterar</button>
    <a class="btn btn-secondary" asp-controller="Usuario" asp-action="Index">Voltar</a>

</form>